Language: Cpp
Standard: c++23
BasedOnStyle: Google

# Core Formatting
IndentWidth: 4
ColumnLimit: 100
TabWidth: 4
UseTab: Never

# Pointers and References
PointerAlignment: Left
ReferenceAlignment: Left

# Includes
SortIncludes: true

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true

# Control Statements
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

# Spaces
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterTemplateKeyword: true
